.product-container{
    background-color:#242222;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    display: flex;
    max-width: 100%;
    align-self: center;
    gap:3rem;
}
.text-container{
    color:rgb(255, 255, 255);
    text-align: center;
    align-self: center;
}
.product-title{
    font-size: 5rem;
}
.product-description{
    font-size: 2.5rem;
}
.product-cartoon{
    width: 150px;
}
@media (max-width: 768px){
    .product-title{
        font-size: 3rem;
    }
    .product-description{
        font-size: 1.5rem;
    }
    .product-cartoon{
        width: 150px;
    }
}
@media (max-width: 550px){
    .product-title{
        font-size: 3rem;
    }
    .product-description{
        font-size: 1.5rem;
    }
    .product-cartoon{
        width: 150px;
    }
    .product-cartoon-container{
        display: none;
    }
}